{
 :db-name "4d4ms"
 :db-article-collection "blogarticles"
 :db-media-collection "blogmedia"
 :db-users-collection "users"
 :db-sessions-collection "sessions"
 :db-log-collection "logevents"
 :session-key "ankylosaurus1234"
 :site-title "Lee Austin Adams"
 :site-description "Lee's Website"
 :twitter-site-handle "@beamjack"
 :twitter-creator-handle "@beamjack"
 :admin-email "admin@4d4ms.com"
 :port 8080
 :cdn-url "https://cdn.4d4ms.com/blog"
 :aws-media-bucket "4d4ms"
 :aws-region "us-west-1"
 :ads-enabled true
 :google-analytics-id "UA-43198629-1"}
