{
 :db-name "prod-blog"
 :db-article-collection "prod-articles"
 :db-page-collection "prod-pages"
 :db-media-collection "prod-media"
 :db-users-collection "prod-users"
 :site-url "http://localhost"
 :site-title "TODO: Site Title"
 :site-description "TODO: Site Description"
 :site-copyright "TODO: copyright"
 :twitter-site-handle ""
 :twitter-creator-handle ""
 :admin-email ""
 :port 8080
 :logo-url ""
 :aws-media-bucket "prod-mango-media"
 :aws-region "us-west-1"
 :cdn-url "https://s3-us-west-1.amazonaws.com/prod-mango-media/blog/"
 :app-css "/css/mango.css"
 :app-js "/js/prod-main.js"}
