{
    :db-name "4d4ms"
    :db-article-collection "blogarticles"
    :db-media-collection "blogmedia"
    :db-users-collection "users"
    :db-sessions-collection "sessions"
    :db-log-collection "logevents"
    :site-title "Lee Austin Adams"
    :site-description "Lee's Website"
    :twitter-site-handle "@beamjack"
    :twitter-creator-handle "@beamjack"
    :admin-email "admin@4d4ms.com"
    :mango-version "0.1.17"
    :port 8080
    :aws-media-bucket "4d4ms"
    :aws-region "us-west-1"
}
