{
 :db-name "mango"
 :db-article-collection "blogarticles_test"
 :db-page-collection "pages_test"
 :db-media-collection "blogmedia_test"
 :db-users-collection "users_test"
 :site-url "https://yourdomain.com"
 :site-title "TEST - Your Mango Site - TEST"
 :site-description "TEST - Your Mango Site - TEST"
 :site-copyright "© 2020 You "
 :admin-email "email@yourdomain.com"
 :port 8080
 :logo-url "https://yourdomain.com/img/A.jpg"
 :cdn-url "https://yourdomain.com/"
 :aws-media-bucket "mango-test"
 :aws-region "us-west-1"
 :app-css "/css/mango.css"
 :app-js "/js/dev-main.js"
 :analytics-enabled false
 :google-analytics-id ""
 :ads-enabled false
 :google-ad-client "your-ad"
 :google-ad-slot "your-slot"}

