/target
/classes
/checkouts
/resources/public/cljs-out
/resources/public/js/cljs-out-prod
/resources/public/js/*.js
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/src/version.clj
figwheel_server.log
/scripts/tunnel.sh