^{:open-url "http://localhost:8080"}
^{:css-dirs ["resources/public/css"]}
{:main mango.core
 :asset-path "/cljs-out"
 :output-to "resources/public/js/dev-main.js"
 :output-dir "resources/public/cljs-out"
 :source-map true
 :source-map-timestamp true
 :infer-externs true
 :closure-warnings {:externs-validation :off}
 ;; To console.log CLJS data-structures make sure you enable devtools in Chrome
 ;; https://github.com/binaryage/cljs-devtools
 :preloads [devtools.preload]}
