<div class="mango" layout="column" ng-cloak>
  <md-content>
    <md-list>
      <md-subheader class="md-no-sticky">{{subheader}}</md-subheader>
      <md-list-item class="md-2-line gray"
                    ng-repeat="article in articles"
                    ng-click="article_click(article._id)">
        <img ng-src="{{article.media[0].thumbnailSrc}}" class="article-thumbnail"/>
        <div class="md-list-item-text">
             <h3 class="article-list-title">{{article.title}}</h3>
             <p class="article-list-date">{{article.created_string}}</p>
        </div>
      </md-list-item>

      <md-fab-toolbar md-open="toolbar.isOpen" count="toolbar.count" md-direction="left">
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon md-font-icon="face"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" class="md-icon-button">
              <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
            </md-button>
            <md-button aria-label="label" class="md-icon-button">
              <md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>
            </md-button>
            <md-button aria-label="photo" class="md-icon-button">
              <md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar>
  </md-content>
</div>
