<md-content class="md-padding">
  <div ncy-breadcrumb></div>
  <div flex layout="column">
    <form name="articleForm" action="/blog/post" enctype="multipart/form-data">
	  <md-input-container class="md-block">
	    <label>Title</label>
	    <input name="title" ng-model="article.title" required>
        <div ng-messages="articleForm.title.$error">
          <div ng-message="required">You <b>must</b> have a title.</div>
        </div>
	  </md-input-container>
	  <md-input-container class="md-block">
	    <label>Description</label>
	    <textarea name="description" ng-model="article.description"></textarea>
	  </md-input-container>
      <md-input-container class="md-block">
        <label>Tags</label>
        <input name="tags" type="text" ng-model="article.tags" placeholder="separate multiple tags with commas">
      </md-input-container>
	  <md-input-container class="md-block">
	    <label>Content</label>
	    <textarea name="content" ng-model="article.content" rows="10" required></textarea>
        <div ng-messages="articleForm.content.$error">
          <div ng-message="required">You <b>must</b> have content.</div>
        </div>
        <div class="md-resize-handle" style="touch-action: pan-y;"></div>
	  </md-input-container>
      <div layout="row">
        <md-subheader class="md-no-sticky">Media</md-subheader>
        <ul class="media-list">
          <li ng-repeat="mediaitem in article.media"
              ng-click="">
              <img src="{{mediaitem.src}}" alt="{{mediaitem.alt}}">
          </li>
        </ul>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block">
          <label>Created</label>
          <input name="created" type="datetime-local" ng-model="article.created">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Status</label>
          <md-select name="status" ng-model="article.status">
            <md-option value="draft">Draft</md-option>
            <md-option value="published">Published</md-option>
            <md-option value="trash">Delete</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <md-button class="md-raised" name="files" type="file" ngf-select ng-model="files" ngf-multiple="true">Add Media</md-button>
      </md-input-container>
      <md-button class="md-raised" ng-click="post()">Submit</md-button>
      <div ng-show="error" class="text-danger">
	    <strong ng-bind="error"></strong>
      </div>
    </form>
  </div>
</md-content>
