<div class="mango" layout="column" layout-align="space-around" ng-cloak>
  <div ncy-breadcrumb></div>
  <md-fab-toolbar ng-if="authentication.user" md-open="toolbar.isOpen" count="3" md-direction="left">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon><i class="material-icons">settings</i></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="new" class="md-icon-button"
                   ng-click="$state.go('post')">
          <md-icon class="material-icons">add-circle</md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button"
                   ng-click="$state.go('drafts')">
          <md-icon class="material-icons">folder-open</md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button"
                   ng-click="$state.go('me')">
          <md-icon class="material-icons">face</md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  <page-title>Blog Posts</page-title>
  <md-list>
    <md-subheader class="md-no-sticky">{{subheader}}</md-subheader>
    <md-list-item class="md-3-line gray article-list-item"
                  ng-repeat="article in articles"
                  ng-click="article_click(article.slug || article._id)">
      <div class="md-list-item-text">
        <h3 class="article-list-title">{{article.title}}</h3>
        <p class="article-list-date">{{article.createdString}}</p>
        <p class="article-list-description">{{article.description}}</p>
      </div>
    </md-list-item>
  </md-list>
</div>
