<div class="mango" layout="column" layout-align="space-around" ng-cloak>
  <div ncy-breadcrumb></div>
  <adsense ng-if="article.status != 'draft'" ng-cloak ad-client="ca-pub-8004927313720287" ad-slot="5968146561" inline-style="display:block;" ad-format="auto"></adsense>
  <page-title>{{article.title}}</page-title>
  <md-content>
    <h1 class="md-headline">{{article.title}}</h1>

    <p class="article-byline" ng-if="article.user"><span>Posted By:</span> {{article.user.displayName}} <span ng-if="article.user.twitterHandle">(@{{article.user.twitterHandle}})</span></p>
    <p class="article-infoline">On: {{article.createdString}}</p>
    <ul class="tags">Tagged: <li ng-repeat="tag in article.tags" ng-click="tag_click(tag)"><a ng-href="/blog/tagged/{{tag}}">{{tag}}</a><span class="divider" ng-hide="$last">-</span></li></ul>
    <i class="tweet-button" tweet
       url="http://www.4d4ms.com/blog/{{article.slug || article._id}}"
       text="{{article.description}}"
       analytics-on="click" analytics-event="tweet" analytics-event="{{article.slug}}"></i>
    <i class="tweet-button" follow
       ng-if="article.user.twitterHandle"
       text="{{article.user.twitterHandle}}"></i>
    <p class="md-body-1 article-body" article-content ng-bind-html="article.renderedContent"></p>
  </md-content>
</div>
