<div class="mango" layout="column" layout-align="center" layout-margin="18px" layout-padding="8px" ng-cloak>
  <page-title>4d4ms.com - Lee Austin Adams</page-title>
  <div
     class="red"
     analytics-on="click" analytics-event="blog"
     ng-click="$state.go('blog')">
    <h3 class="md-headline">Blog</h3>
  </div>
  <div
     class="blue"
     analytics-on="click" analytics-event="photography"
     ng-click="$state.go('photography')">
    <h3 class="md-headline">Photography</h3>
  </div>
  <div
     class="gray"
     analytics-on="click" analytics-event="about"
     ng-click="$state.go('about')">
    <h3 class="md-headline">About</h3>
  </div>
</div>

