<div class="mango" layout="column" layout-align="center" layout-margin="18px" layout-padding="8px" ng-cloak>
  <page-title>Photography</page-title>
  <div ncy-breadcrumb></div>
  <div class="red"
     ng-click="navigate('http://www.flickr.com/photos/beamjack/tags/animals/')">
    <h3 class="md-headline">Animals</h3>
  </div>
  <div class="green"
     ng-click="navigate('http://www.flickr.com/photos/beamjack/tags/buildings/')">
    <h3 class="md-headline">Buildings</h3>
  </div>
  <div class="blue"
     ng-click="navigate('http://www.flickr.com/photos/beamjack/tags/places/')">
    <h3 class="md-headline">Places</h3>
  </div>
  <div class="gray"
     ng-click="navigate('http://www.flickr.com/photos/beamjack/')">
    <h3 class="md-headline">Everything Else</h3>
  </div>
</div>

