<!DOCTYPE html>
<html>
  <head>
    <title>{{list-title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/{{ app-css }}" type="text/css" media="screen" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43198629-1"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43198629-1');

      {{^js-logged-in-user}}
      var user = null;
      {{/js-logged-in-user}}
      {{#js-logged-in-user}}
      var user = {{{js-logged-in-user}}};
      {{/js-logged-in-user}}
    </script>
  </head>
  <body>
    <div class="mango">
      <div class="header">
        <ul><li><a href="/">Home</a></li><li><a href="/blog">Blog</a></li>{{#is-editor}}<li><a href="/blog/drafts">Drafts</a></li>{{/is-editor}}{{#logged-in-user}}<li><a href="/signout">Sign out</a></li>{{/logged-in-user}}{{^logged-in-user}}<li><a href="/signin">Sign in</a></li>{{/logged-in-user}}</ul>
      </div>
      <h1>{{list-title}}</h1>
      {{#articles}}
        <div class="article-list-item">
          <h2><a href="/blog/{{article.slug}}">{{article.title}}</a></h2>
          <p>{{article.description}}</p>
        </div>
      {{/articles}}
    </div>
    <div class="footer" align="center">
      <small class="copyright">&copy; 2014-2018 Lee Adams <a href="mailto:{{admin-email}}">contact</a></small><br />
      <small class="version">{{version}}</small>
    </div>
  </body>
</html>
