<!DOCTYPE html>
<html>
  <head>
    <title>Edit</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/{{ app-css }}" type="text/css" media="screen" />

    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-43198629-1"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43198629-1');

      {{^js-logged-in-user}}
      var user = null;
      {{/js-logged-in-user}}
      {{#js-logged-in-user}}
      var user = {{{js-logged-in-user}}};
      {{/js-logged-in-user}}
    </script>
  </head>
  <body>
    <div class="mango">
      {{#article._id}}
      <form name="articleForm" action="/blog/articles/{{article._id}}.json" method="POST" enctype="multipart/form-data">
        <p>{{article._id}}</p>
        <input name="_id" type="hidden" value="{{article._id}}">
      {{/article._id}}
      {{^article._id}}
      <form name="articleForm" action="/blog/articles/post.json" method="POST" enctype="multipart/form-data">
        <p>New Article</p>
      {{/article._id}}
        <div class="row">
          <div class="col-25">
            <label>Title</label>
          </div>
          <div class="col-75">
            <input name="title" type="text" value="{{article.title}}" required>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Description</label>
          </div>
          <div class="col-75">
            <input name="description" type="text" value="{{article.description}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Tags</label>
          </div>
          <div class="col-75">
            <input name="tags" type="text" value="{{article.tags-csv}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Content</label>
          </div>
          <div class="col-75">
            <textarea name="content">{{article.content}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Date</label>
          </div>
          <div class="col-75">
            <input name="created" type="date" value="{{article.created}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Status</label>
          </div>
          <div class="col-75">
            <select id="status" name="status">
              <option value="draft">Draft</option>
              <option value="published">Published</option>
              <option value="trash">Trash</option>
            </select>
          </div>
        </div>
        <div class="row">
          <input class="button" name="submit" type="submit" value="Submit">
        </div>
      </form>
    </div>
    <div class="footer" align="center">
      <small class="copyright">&copy; 2014-2018 Lee Adams <a href="mailto:{{admin-email}}">contact</a></small><br />
      <small class="version">{{version}}</small>
    </div>
  </body>
</html>
