<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/{{ app-css }}" type="text/css" media="screen" />

    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-43198629-1"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43198629-1');

      {{^js-logged-in-user}}
      var user = null;
      {{/js-logged-in-user}}
      {{#js-logged-in-user}}
      var user = {{{js-logged-in-user}}};
      {{/js-logged-in-user}}
    </script>
  </head>
  <body>
    <div class="mango">
      <h1>Sign In</h1>
      <form name="userForm" action="/auth/signin" method="POST" enctype="multipart/form-data">
        <div>
          <label>Username</label>
          <input name="username" type="text" required>
        </div>
        <div>
	      <label>Password</label>
	      <input name="password" type="password" required>
        </div>
        <div>
          <input name="submit" type="submit" value="Sign in">
        </div>
        {{message}}
      </form>
      <div class="footer">
        <small class="copyright">&copy; 2014-2018 Lee Adams <a href="mailto:{{adminEmail}}">contact</a></small>
        <small class="version">{{version}}</small>
      </div>
    </div>
  </body>
</html>
