<!DOCTYPE html>
<html>
  <head>
    <title>Signed In</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/{{ app-css }}" type="text/css" media="screen" />

    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-43198629-1"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43198629-1');

      {{^js-logged-in-user}}
      var user = null;
      {{/js-logged-in-user}}
      {{#js-logged-in-user}}
      var user = {{{js-logged-in-user}}};
      {{/js-logged-in-user}}
    </script>
  </head>
  <body>
    <div class="mango">
      <h1>Signed In</h1>
      <p>Username: {{logged-in-user.username}}</p>
      <p>Display Name: {{logged-in-user.displayName}}</p>
      <p>First Name: {{logged-in-user.firstName}}</p>
      <p>Last Name: {{logged-in-user.lastName}}</p>
      <p>Email: {{logged-in-user.email}}</p>
      <p>Twitter: {{logged-in-user.twitterHandle}}</p>
      <p>Roles: {{logged-in-user.roles}}</p>
      <p>Created: {{logged-in-user.created}}</p>
      <div class="footer">
        <small class="copyright">&copy; 2014-2018 Lee Adams <a href="mailto:{{admin-email}}">contact</a></small>
        <small class="version">{{version}}</small>
      </div>
    </div>
  </body>
</html>
