html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mango {
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border: 1px solid #999;
    border-radius: 4px;
    background: white;
}

.article-header {
}

.article-title {
    margin: 12px 0 12px 0;
}

.article-description {
    margin: 12px 0 12px 0;
}

.article-byline {
    margin: 12px 0 12px 0;
}

.article-infoline {
    margin: 12px 0 12px 0;
}

.article-tagsline {
    margin: 12px 0 12px 0;
}

.article-socialline {
    margin: 12px 0 12px 0;
}

.twitter-follow-button, .twitter-share-button {
    margin: 0 8px 0 0;
}

.article-content img {
    max-width: 100%;
}

.article-list-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 10px;
}

.tags {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.tags > li {
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}

.tags > li > .divider {
    padding: 0 5px;
    color: #ccc;
}

.media-list {
    margin: 12px 0 12px 0;
    list-style: none;
}

.media-list > li {
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}

.media-list > li > .divider {
    padding: 0 5px;
    color: #ccc;
}

.media-list > li img {
    height: 128px;
    width: auto;
    margin: 4px;
}

.tweet-button {
    margin: 2px 0 2px 0;
}

.article-thumbnail {
    height: 128px;
    padding-right: 12px;
}

.article-list-item {
    padding:8px;
}

.left-thumbnail  {
    float: left;
    width: 33%;
    height: auto;
    margin: 8px 12px 8px 4px;
}

.middle-thumbnail {
    width: 25%;
    height: auto;
    margin: 8px 12px 8px 4px;
}

.right-thumbnail  {
    float: right;
    width: 25%;
    height: auto;
    margin: 8px 12px 8px 4px;
}

.media-thumbnail {
    height:128px;
}

div.imagebar {
    overflow: auto;
    white-space: nowrap;
}

div.imagebar a {
}

div.imagebar img {
    height: 240px;
    width: auto;
}

.mango .gray {
    background: #f5f5f5;
}

.mango .green {
    background: #b9f6ca;
}

.mango .yellow {
    background: #ffff8d;
}

.mango .blue {
    background: #84ffff;
}

.mango .purple {
    background: #b388ff;
}

.mango .red {
    background: #ff8a80;
}

.main-view {
    margin: 40 40 10 40;
}

.footer {
    top: 90%;
    margin: 24px 8px 8px 8px;
}

.hljs {
    display: inline;
    background-color: transparent;
    padding: 0;
}

pre {
    padding: 0.5em;
    border: 1px solid #999;
    overflow-x: scroll;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20;
    list-style: none;
    background-color: #f5f5f5;
}

.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb > li > .divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb > .active {
    color: #999999;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

label {
    margin: 4px 0 2px 0;
    font-size: x-large;
}

input[type=text], input[type=password] {
    width: 100%;
    margin 4px 2px;
    border: 1px solid #999;
    border-radius: 4px;
}

select{
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #999;
    color: white;
    font-size: large;
    cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset] {
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #999;
    color: white;
    font-size: large;
    cursor: pointer;
    float: right;
}

textarea {
    width: 100%;
    height: 400px;
    border: 1px solid #999;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row {
    margin: 20px 0 0 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit], input[type=button], input[type=reset], select {
        width: 100%;
        margin-top: 0;
    }
}

.header ul {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.header ul > li {
    display: inline-block;
    margin: 0 8px 0 8px;
}
