/* Palette */
:root {
    --primary: #f9f3ec;
    --secondary: #63aabc;
    --tertiary: #ed3833;
    --quaternary: #60204b;
    --background: var(--primary);
    --text: black;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

a {
    color: var(--secondary);
}

img {
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    max-width: 100%;
}

em {
    font-style: normal;
    text-decoration: underline solid var(--tertiary);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mango {
    margin: 4px auto auto auto;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: white;
    max-width: 900px;
    width: 96%;
}

.article-header {
}

.article-title {
    margin: 12px 0 12px 0;
}

.article-description {
    margin: 12px 0 12px 0;
}

.article-byline {
    margin: 12px 0 12px 0;
}

.article-infoline {
    margin: 12px 0 12px 0;
}

.article-tagsline {
    margin: 12px 0 12px 0;
}

.article-content img {
    max-width: 25%;
    padding: 0;
    margin: 4px;
    float: right;
}

.article-list-item {
    border-bottom: 1px solid var(--quaternary);
    padding-top: 10px;
    cursor: pointer;
}

.article-list-item:hover {
    background-color: var(--background);
    color: var(--text);
}

.article-list-item-title {
    margin: 4px 0 0 0;
    color: inherit;
}

.article-list-item-title > a {
    text-decoration-line: none;
    color: inherit;
}

.article-list-item-description {
    margin: 4px 0 0 0;
    color: inherit;
}

.article-list-item-byline {
    margin: 4px 0 0 0;
    color: inherit;
}

.article-list-item-media {
}

.page-content img {
    max-width: 25%;
    padding: 0;
    margin: 4px;
    float: right;
}

.page-list-item:hover {
    background-color: var(--background);
    color: inherit;
}

.media-list-item {
    border-bottom: 1px solid var(--quaternary);
    padding-top: 10px;
}

.media-list-item img {
    max-width: 33%;
}

.footnotes {
    font-size: small;
}

.tags {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.tags > li {
    display: inline-block;
    padding: 0 0 4px 2px;
    font-size: large;
    color: inherit;
}

.tags > li > .divider {
    padding: 0 5px;
    color: var(--tertiary);
}

.roles {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.roles > li {
    display: inline-block;
}

.roles > li > .divider {
    padding: 0 5px;
    color: var(--tertiary);
}

.media-list {
    margin: 12px 0 12px 0;
    list-style: none;
}

.media-list > li {
    display: inline-block;
}

.media-list > li > .divider {
    padding: 0 5px;
    color: var(--tertiary);
}

.media-list > li img {
    height: 128px;
    width: auto;
    margin: 4px;
}

.pocket-btn {
    margin: 0 10px 0 -6px;
}

.article-thumbnail {
    height: 128px;
    padding-right: 12px;
}

.media-thumbnail {
    height:128px;
}

div.imagebar {
    overflow: auto;
    white-space: nowrap;
}

div.imagebar img {
    height: 240px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 2px;
    float: unset;
}

.footer {
    top: 90%;
    margin: 24px 8px 8px 8px;
}

.hljs {
    display: inline;
    background-color: transparent;
    padding: 0;
}

pre {
    padding: 0.5em;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    overflow-x: auto;
}

blockquote {
    background: var(--background);
    border-left: 10px solid var(--secondary);
    border-radius: 4px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}

blockquote:before {
    color: var(--tertiary);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote footer {
    font-style: italic;
}

label {
    margin: 4px 0 2px 0;
    font-size: x-large;
}

button {
    padding: 8px 16px;
    margin: 8px;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    color: var(--text);
    background-color: var(--background);
}

input {
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    color: var(--text);
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 4px 2px;
    font-size: large;
}

input[type=button], input[type=submit], input[type=file], input[type=reset], input[type=date], select {
    padding: 16px 32px;
    font-size: xx-large;
    cursor: pointer;
    float: right;
}

input[type=button]:hover, input[type=submit]:hover, input[type=file]:hover, input[type=reset]:hover, input[type=date]:hover, select:hover {
    background-color: var(--background);
}

textarea {
    width: 100%;
    height: 400px;
    border: 1px solid var(--quaternary);
    font-size: large;
}

.col-5, .col-5-sm {
    float: left;
    width: 5%;
    padding: 0 6px 0 6px;
}

.col-10, .col-10-sm {
    float: left;
    width: 10%;
    padding: 0 6px 0 6px;
}

.col-20, .col-20-sm {
    float: left;
    width: 20%;
    padding: 0 6px 0 6px;
}

.col-25, .col-25-sm {
    float: left;
    width: 25%;
    padding: 0 6px 0 6px;
}

.col-50, .col-50-sm {
    float: left;
    width: 50%;
    padding: 0 6px 0 6px;
}

.col-75, .col-75-sm {
    float: left;
    width: 75%;
    padding: 0 6px 0 6px;
}

.col-80, .col-80-sm {
    float: left;
    width: 80%;
    padding: 0 6px 0 6px;
}

.col-90, .col-90-sm {
    float: left;
    width: 90%;
    padding: 0 6px 0 6px;
}

.col-95, .col-95-sm {
    float: left;
    width: 95%;
    padding: 0 6px 0 6px;
}

.col-100 {
    float: left;
    width: 100%;
    padding: 0 6px 0 6px;
}

/* Clear floats after the columns */
.row, .field-row {
    padding: 6px 0 0 0;
}

.row:after, .field-row:after {
    content: "";
    display: table;
    clear: both;
}

.toolbar {
    position: sticky;
    top: 0;
    background-color: #fffe;
    z-index: 1;
    background-blend-mode: lighten;
    margin: 8px 0 12px 0;
    padding: 2px 0 2px 0;
    border-bottom: solid 1px var(--quaternary);
}

.toolbar ul {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.toolbar ul > li {
    display: inline-block;
    margin: 0 8px 8px 0;
}

.socialbar {
    margin: 8px 0 0 0;
    padding: 2px 0 2px 0;
}

.socialbar ul {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.socialbar ul > li {
    display: inline-block;
    margin: 0 0 0 0;
}

.content-form {
    position: relative;
}

.edit-form {
    position: relative;
}

.content-preview {
    background-color: #fffe;
    background-blend-mode: lighten;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 8px;
    resize: both;
    overflow: auto;
}

.hidden {
    display: none;
}

.dialog {
    background-color: #effe;
    background-blend-mode: lighten;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    position: fixed;
    top: 33%;
    left: 33%;
    width: 34%;
    padding: 8px;
}

/* Responsive layout - when the screen is less than 600px wide */
@media (max-width: 600px) {
    .mango {
        max-width: 100%;
        margin: 4px;
    }

    /* make the columns stack on top of each other instead of next to each other */
    .col-25, .col-50, .col-75, .col-80, .col-90, .col-95, input[type=submit], input[type=button], input[type=reset], input[type=date], select {
        width: 100%;
    }

    .row {
    }

    li {
        margin-top: 4px;
    }

    .pocket-btn {
        margin-left: -3px;
    }

    .article-content img {
        max-width: 50%;
    }

    .page-content img {
        max-width: 50%;
    }

    .dialog {
        top: 25%;
        left: 10%;
        width: 80%;
    }
}

.article-content table {
    border-spacing: 0;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    background-color: white;
    border-collapse: collapse;
}

.article-content td, .article-content th {
    padding: 4px;
    border-spacing: 0;
    border: 1px solid var(--quaternary);
}

.article-content tr:nth-child(even){
    background-color: var(--background);
}

.article-content tr:hover {
    background-color: var(--tertiary);
    color: white;
}

.article-content th {
    text-align: left;
    background-color: var(--tertiary);
    color: white;
}

.page-content table {
    border-spacing: 0;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    background-color: white;
    border-collapse: collapse;
}

.page-content td, .page-content th {
    padding: 4px;
    border-spacing: 0;
}

.page-content tr:nth-child(even){
    background-color: var(--background);
}

.page-content tr:hover {
    background-color: var(--background);
    color: var(--text);
}

.page-content th {
    text-align: left;
    background-color: var(--tertiary);
    color: white;
}

.console-output {
    background-color: black;
    color: white;
}

#syntax {
    background-color: #fffe;
    background-blend-mode: lighten;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 8px;
    resize: both;
    overflow: auto;
}

#syntax td pre {
    border: none;
    margin: 0;
}

#syntax table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--quaternary);
    border-radius: 4px;
    background-color: white;
    border-collapse: collapse;
}

#syntax td, #syntax th {
    padding: 4px;
    border-spacing: 0;
}

#syntax tr:nth-child(even){
    background-color: var(--background);
}

#syntax tr:hover {
    background-color: var(--tertiary);
    color: white;
}

#syntax th {
    text-align: left;
    background-color: var(--tertiary);
    color: white;
}

#syntax td:nth-child(even) {
    border-right: 1px solid var(--quaternary);
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
   float: none;
   border: none;
}
