html, body {
    height: 100%;
    margin: 0;
}

.article-list .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 10px;
}

.mango md-content {
    margin: 16px;
}

.article-title {
}

.article-byline {
    margin: 0px 0px 0px 0px;
}

.article-infoline {
    margin: 0px 0px 0px 0px;
}

.article-list md-virtual-repeat-container {
    border: solid 1px grey;
}

.article-list .md-virtual-repeat-container .md-virtual-repeat-offsetter {
    padding-left: 16px;
}

.article-thumbnail {
    height: 128px;
}

.media-thumbnail {
    height:128px;
}

.repeated-item img {
    height: 64px;
}

.mango md-grid-list {
    margin: 2px;
}

.mango .gray {
    background: #f5f5f5;
}

.mango .green {
    background: #b9f6ca;
}

.mango .yellow {
    background: #ffff8d;
}

.mango .blue {
    background: #84ffff;
}

.mango .purple {
    background: #b388ff;
}

.mango .red {
    background: #ff8a80;
}

/* .mango md-grid-tile { */
/*     transition: all 400ms ease-out 50ms; */
/* } */

.main-view {
    margin: 40px 40px 10px 40px;
}

.footer {
    top: 90%;
    margin: 8px 8px 8px 8px;
}

code.hljs {
    display: inline;
    background-color: transparent;
}

pre.hljs {
    border: 1px solid #999;
}

.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb > .active {
  color: #999999;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}