{
 :db-name "4d4ms-dev"
 :db-article-collection "blogarticles"
 :db-page-collection "pages"
 :db-media-collection "blogmedia"
 :db-users-collection "users"
 :site-url "https://4d4ms.com"
 :site-title "DEV - Lee Austin Adams - DEV"
 :site-description "DEV - Lee's Website - DEV"
 :site-copyright "© 2019 Lee Adams "
 :twitter-site-handle "@beamjack"
 :twitter-creator-handle "@beamjack"
 :admin-email "admin@4d4ms.com"
 :port 8080
 :logo-url "https://cdn.4d4ms.com/img/A.jpg"
 :cdn-url "https://s3-us-west-1.amazonaws.com/4d4ms-dev/blog/"
 :aws-media-bucket "4d4ms-dev"
 :aws-region "us-west-1"
 :app-css "/css/mango.css"
 :app-js "/js/dev-main.js"
 :ads-enabled false
 :google-analytics-id ""}
