{
 :db-name "mango"
 :db-article-collection "blogarticles_dev"
 :db-page-collection "pages_dev"
 :db-media-collection "blogmedia_dev"
 :db-users-collection "users_dev"
 :site-url "https://yourdomain.com"
 :site-title "DEV - Your Mango Site - DEV"
 :site-description "DEV - Your Mango Site - DEV"
 :site-copyright "© 2020 You "
 :twitter-site-handle "@dev"
 :twitter-creator-handle "@dev"
 :admin-email "email@yourdomain.com"
 :port 8080
 :logo-url "https://yourdomain.com/img/A.jpg"
 :cdn-url "https://yourdomain.com/"
 :aws-media-bucket "leeadams-mango-dev"
 :aws-region "us-west-1"
 :app-css "/css/mango.css"
 :app-js "/js/dev-main.js"
 :analytics-enabled false
 :google-analytics-id ""
 :ads-enabled false
 :header-ads-enabled false
 :footer-ads-enabled false
 :google-ad-client "your-ad"
 :google-ad-slot "your-slot"}

