{
 :db-name "dev-blog"
 :db-article-collection "dev-articles"
 :db-page-collection "dev-pages"
 :db-media-collection "dev-media"
 :db-users-collection "dev-users"
 :site-url "http://localhost"
 :site-title "DEV - BLOG - DEV"
 :site-description "DEV - BLOG - DEV"
 :site-copyright "dev copyright"
 :twitter-site-handle "site"
 :twitter-creator-handle "creator"
 :admin-email ""
 :port 8080
 :logo-url "https://s3-us-west-1.amazonaws.com/dev-mango-media/logo.png"
 :aws-media-bucket "dev-mango-media"
 :aws-region "us-west-1"
 :cdn-url "https://s3-us-west-1.amazonaws.com/dev-mango-media/blog/"
 :app-css "/css/mango.css"
 :app-js "/js/dev-main.js"}
